<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey, un nouveau participant c'est inscrit à ton event : <%= @event.title %>
  </body>
</html>
